<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="71224769-3abf-4ab4-8c91-436981c3bf08" name="OrderApiFTs" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="71224769-3abf-4ab4-8c91-436981c3bf08fileName">OrderApiFTs</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
