<?xml version="1.0" encoding="UTF-8"?>
<con:resource name="Menu" path="/api/Menu/{id}" id="dd1eda2b-da19-4cc3-ac15-76f5323c1a7c" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="dd1eda2b-da19-4cc3-ac15-76f5323c1a7cfileName">Menu</con:setting>
  </con:settings>
  <con:parameters>
    <con:parameter>
      <con:name>id</con:name>
      <con:value/>
      <con:style>TEMPLATE</con:style>
      <con:default/>
    </con:parameter>
  </con:parameters>
  <con:method name="GetMenu" id="c9bb2b48-4b3d-4385-84cd-d18bb95274ea" method="GET">
    <con:settings/>
    <con:parameters>
      <con:parameter required="true">
        <con:name>id</con:name>
        <con:value/>
        <con:style>TEMPLATE</con:style>
        <con:default/>
      </con:parameter>
    </con:parameters>
    <con:representation type="RESPONSE">
      <con:mediaType>application/json; charset=utf-8</con:mediaType>
      <con:status>200</con:status>
      <con:params/>
      <con:element xmlns:menu="http://localhost/api/Menu">menu:Response</con:element>
    </con:representation>
    <con:representation type="FAULT">
      <con:mediaType>application/json; charset=utf-8</con:mediaType>
      <con:status>500</con:status>
      <con:params/>
      <con:element xmlns:menu="http://localhost/api/Menu/">menu:Fault</con:element>
    </con:representation>
    <con:request name="GetAllMenu" id="fa6798cb-6b43-47b2-b5ca-bd810d85e129" mediaType="application/json">
      <con:settings>
        <con:setting id="com.eviware.soapui.impl.wsdl.WsdlRequest@request-headers">&lt;xml-fragment/></con:setting>
      </con:settings>
      <con:endpoint>http://localhost:55298</con:endpoint>
      <con:request/>
      <con:originalUri>http://localhost/api/Menu/</con:originalUri>
      <con:credentials>
        <con:selectedAuthProfile>No Authorization</con:selectedAuthProfile>
        <con:authType>No Authorization</con:authType>
      </con:credentials>
      <con:jmsConfig JMSDeliveryMode="PERSISTENT"/>
      <con:jmsPropertyConfig/>
      <con:parameters>
        <entry key="id" value="" xmlns="http://eviware.com/soapui/config"/>
      </con:parameters>
      <con:parameterOrder>
        <con:entry>id</con:entry>
      </con:parameterOrder>
      <con:environmentSpec>
        <con:entry environmentId="a33093f8-6309-4424-9a49-27dbf11f605b">
          <con:authProfile>Inherit From Parent</con:authProfile>
        </con:entry>
      </con:environmentSpec>
    </con:request>
    <con:request name="GetMenuById" id="fa6798cb-6b43-47b2-b5ca-bd810d85e129" mediaType="application/json">
      <con:settings>
        <con:setting id="com.eviware.soapui.impl.wsdl.WsdlRequest@request-headers">&lt;xml-fragment/></con:setting>
      </con:settings>
      <con:endpoint>http://localhost:55298</con:endpoint>
      <con:request/>
      <con:originalUri>http://localhost/api/Menu</con:originalUri>
      <con:credentials>
        <con:selectedAuthProfile>No Authorization</con:selectedAuthProfile>
        <con:authType>No Authorization</con:authType>
      </con:credentials>
      <con:jmsConfig JMSDeliveryMode="PERSISTENT"/>
      <con:jmsPropertyConfig/>
      <con:parameters>
        <entry key="id" value="2" xmlns="http://eviware.com/soapui/config"/>
      </con:parameters>
      <con:parameterOrder>
        <con:entry>id</con:entry>
      </con:parameterOrder>
      <con:environmentSpec>
        <con:entry environmentId="a33093f8-6309-4424-9a49-27dbf11f605b">
          <con:authProfile>Inherit From Parent</con:authProfile>
        </con:entry>
      </con:environmentSpec>
    </con:request>
  </con:method>
  <con:method name="PostMenu" id="e74dd160-4591-43d3-bb71-12b819870ff4" method="POST">
    <con:settings/>
    <con:parameters/>
    <con:representation type="FAULT">
      <con:mediaType>application/json; charset=utf-8</con:mediaType>
      <con:status>500</con:status>
      <con:params/>
      <con:element xmlns:menu="http://localhost/api/Menu/">menu:Fault</con:element>
    </con:representation>
    <con:representation type="REQUEST">
      <con:mediaType>application/json</con:mediaType>
      <con:params/>
    </con:representation>
    <con:representation type="RESPONSE">
      <con:mediaType>application/json; charset=utf-8</con:mediaType>
      <con:status>200</con:status>
      <con:params/>
      <con:element>Response</con:element>
    </con:representation>
    <con:request name="CreateMenu" id="46fc5713-0f95-46fd-83aa-d9bf1c6ee821" mediaType="application/json" postQueryString="false">
      <con:settings>
        <con:setting id="com.eviware.soapui.impl.wsdl.WsdlRequest@request-headers">&lt;xml-fragment/></con:setting>
      </con:settings>
      <con:request>{
    "menuItems": [
        {
            "ItemName": "Meat Loverz Pizza",
            "ItemPrice": 12,
            "ItemCalories": 250
        },
        {
            "ItemName": "Coke",
            "ItemPrice": 2,
            "ItemCalories": 100
        }
    ]
}</con:request>
      <con:originalUri>http://localhost/api/Menu/</con:originalUri>
      <con:credentials>
        <con:authType>No Authorization</con:authType>
      </con:credentials>
      <con:jmsConfig JMSDeliveryMode="PERSISTENT"/>
      <con:jmsPropertyConfig/>
      <con:parameters>
        <entry key="id" value="" xmlns="http://eviware.com/soapui/config"/>
      </con:parameters>
      <con:parameterOrder>
        <con:entry>id</con:entry>
      </con:parameterOrder>
    </con:request>
  </con:method>
  <con:method name="PutMenu" id="e74dd160-4591-43d3-bb71-12b819870ff4" method="PUT">
    <con:settings/>
    <con:parameters/>
    <con:representation type="FAULT">
      <con:mediaType>application/json; charset=utf-8</con:mediaType>
      <con:status>500</con:status>
      <con:params/>
      <con:element xmlns:menu="http://localhost/api/Menu/">menu:Fault</con:element>
    </con:representation>
    <con:representation type="REQUEST">
      <con:mediaType>application/json</con:mediaType>
      <con:params/>
    </con:representation>
    <con:representation type="RESPONSE">
      <con:mediaType>application/json; charset=utf-8</con:mediaType>
      <con:status>200</con:status>
      <con:params/>
      <con:element>Response</con:element>
    </con:representation>
    <con:request name="UpdateMenu" id="46fc5713-0f95-46fd-83aa-d9bf1c6ee821" mediaType="application/json" postQueryString="false">
      <con:settings>
        <con:setting id="com.eviware.soapui.impl.wsdl.WsdlRequest@request-headers">&lt;xml-fragment/></con:setting>
      </con:settings>
      <con:request>{
    "menuItems": [
        {
            "ItemName": "Meat Loverz Pizza",
            "ItemPrice": 12,
            "ItemCalories": 250
        },
        {
            "ItemName": "Coke",
            "ItemPrice": 2,
            "ItemCalories": 100
        }
    ]
}</con:request>
      <con:originalUri>http://localhost/api/Menu/</con:originalUri>
      <con:credentials>
        <con:authType>No Authorization</con:authType>
      </con:credentials>
      <con:jmsConfig JMSDeliveryMode="PERSISTENT"/>
      <con:jmsPropertyConfig/>
      <con:parameters>
        <entry key="id" value="1" xmlns="http://eviware.com/soapui/config"/>
      </con:parameters>
      <con:parameterOrder>
        <con:entry>id</con:entry>
      </con:parameterOrder>
    </con:request>
  </con:method>
</con:resource>
